<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="sqlHandler" class="cn.sinobest.druid.handler.OldSqlHandler"/>

       <bean id="statementHandler" class="cn.sinobest.druid.handler.StatementHandler"/>

       <bean id="synSqlFilter" class="cn.sinobest.druid.SynonymSqlFilter">
              <property name="context" ref="mppContext"/>
           <property name="handlers">
               <list>
                   <ref bean="sqlHandler"/>
                   <ref bean="statementHandler"/>
               </list>
           </property>
       </bean>

       <bean id="mppContext" class="cn.sinobest.druid.SynonymSqlContext">
              <property name="charSet" value="UTF-8"/>
              <property name="synonymTable">
                     <map>
                            <entry>
                                   <key>
                                          <list>
                                                 <value>
                                                        <![CDATA[
                                                        SELECT DISTINCT a.idcardno,
                                                        :firstResult@,
                                                        :secondResult@
                                                        FROM t_bz_asj_ajxyr a
                                                        WHERE a.inputtime >= to_date(to_char(:inputtimeStart@), 'yyyy-mm-dd')
                                                        and a.inputtime <= to_date(to_char(:inputtimeEnd@), 'yyyy-mm-dd')
                                                        and a.door not like rtrim(:door@, '0') || '%'
                                                        and not exists (select b.zjhm
                                                        from t_bz_sqjw_syrk_ryxxb_ldrk b
                                                        where b.zjhm = a.idcardno)
                                                        ]]>
                                                 </value>
                                                 <value>
                                                        <![CDATA[
                                                        SELECT DISTINCT a.idcardno,
                                                        \S*,
                                                        \S*
                                                        FROM t_bz_asj_ajxyr a
                                                        WHERE a.inputtime >= to_date[(]to_char[(]\S*[)], 'yyyy-mm-dd'[)]
                                                        and a.inputtime <= to_date[(]to_char[(]\S*[)], 'yyyy-mm-dd'[)]
                                                        and a.door not like rtrim[(]\S*, '0'[)] [|][|] '%'
                                                        and not exists [(]select b.zjhm
                                                        from t_bz_sqjw_syrk_ryxxb_ldrk b
                                                        where b.zjhm = a.idcardno[)]
                                                        ]]>
                                                 </value>
                                                <value>
                                                        executeUpdate('set enable_mergejoin to off;')
                                                </value>
                                          </list>
                                   </key>
                                   <value>
                                          <![CDATA[
                                          SELECT    idcardno,
                                          :firstResult@,
                                          :secondResult@ from
                                          (SELECT distinct  a.idcardno
                                          FROM t_bz_asj_ajxyr a
                                          WHERE a.inputtime >= to_date(:inputtimeStart@, 'yyyy-mm-dd')
                                          and a.inputtime <= to_date(:inputtimeEnd@, 'yyyy-mm-dd')
                                          and a.door not like rtrim(:door@, '0') || '%'
                                          and not exists (select b.zjhm
                                          from t_bz_sqjw_syrk_ryxxb_ldrk b
                                          where b.zjhm::bpchar = a.idcardno::bpchar)
                                          )
                                          ]]>
                                   </value>
                            </entry>

                            <entry>
                                   <key>
                                          <list>
                                                 <value>
                                                        <![CDATA[
                                                        SELECT DISTINCT A.zjhm from t_bz_ck_ryjbxx b,t_bz_ly_gnlkxx a
where a.rzsj>=to_char(:rzsjStart@)
and a.rzsj<=to_char(:rzsjEnd@)
and a.gxdwbm like rtrim(:gxdwbm@,'0')||'%'
and a.zjhm=b.PID
                                                        ]]>
                                                 </value>
                                                 <value>
                                                        <![CDATA[
                                                        SELECT DISTINCT A.zjhm from t_bz_ck_ryjbxx b,t_bz_ly_gnlkxx a
where a.rzsj>=to_char[(]'2016-04-19'[)]
and a.rzsj<=to_char[(]'2016-06-20'[)]
and a.gxdwbm like rtrim[(]'520000','0'[)][|][|]'%'
and a.zjhm=b.PID
                                                        ]]>
                                                 </value>
                                          </list>
                                   </key>
                                   <value>
                                          <![CDATA[
                                          SELECT DISTINCT A.zjhm from t_bz_ck_ryjbxxbak2 b,b_zyk_gnlkxx a
 where a.rzsj>=to_char(:rzsjStart@)
 and a.rzsj<=to_char(:rzsjEnd@)
 and a.gxdwbm like rtrim(:gxdwbm@,'0')||'%'
 and b.pid::bpchar=a.zjhm::bpchar;
                                          ]]>
                                   </value>
                            </entry>
                     </map>
              </property>
       </bean>

</beans>