<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3_force_edit demo</title>
    <!--不添加rel属性导致引用无效 -->
    <link rel="stylesheet" href="../css/d3_force_edit.css">
</head>
<body>
<div id="force" class="force">
    <div>
        <span>d3 V4版本渲染svg 拖拽连线、双击节点删除、新增节点功能</span>
        <button class="" id='addNode'>新增节点</button>
    </div>
</div>

<!--<div id="d3Force" class="force"></div>-->

<!--<div id="d3Canvas" class="force">-->
    <!--<h4>d3 V4版本渲染canvas</h4>-->
<!--</div>-->

<script src="../plugins/require/require.js" data-main="d3_force_edit"></script>
</body>
</html>