<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3graph-demo</title>
    <link rel="stylesheet" href="../plugins/ztree/ztree.css">
    <link rel="stylesheet" href="../css/graph.css">
</head>
<body>
<input type="button" value="update" id="update"/>
<input type="button" value="add" id="add"/>
<input id="indexValue" type="text"/>
<input type="button" value="remove" id="remove"/>
<script src="../plugins/jQuery/jquery_1.12.4.js"></script>
<script src="../plugins/ztree/ztree.js"></script>
<script src="../plugins/require/require.js" data-main="d3graphView"></script>

<script>

</script>
</body>
</html>